@font-face {
    font-family: 'Komika Display Wide';
    src: url('../fonts/KomikaDisplayWide-Bold.woff2') format('woff2'),
    url('../fonts/KomikaDisplayWide-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Komika Display Wide';
    color: #FFF;
}

body {
    background-color: #eb8b38;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

main {
    overflow: hidden;
}

.main-wrapper {
    border: 1px solid #7c1f22;
    padding: 5px;
    margin: 10px auto;
}

.main-wrapper-inside {
    border: 5px solid #7c1f22;
    margin: 5px;
}

.logo {
    margin: 10px 20px;
}

.logo img {
    height: 90px;
}

.presale {
    margin: 10px;
}

.presale img {
    height: 90px;
}

.content {
    padding: 20px;
}

.content p {
    color: #000105 !important;
    font-size: 18px;
    margin-top: 10px;
}

.content p i {
    color: #000105 !important;
    font-size: 14px;
}

.graph-image {
    width: 90%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .main-wrapper-inside {
        border: 3px solid #7c1f22;
        margin: 5px;
    }

    .content {
        padding: 10px;
    }

    .content p {
        color: #000105 !important;
        font-size: 14px;
        margin-top: 10px;
    }

    .graph-image {
        width: 105%;
        margin-left: -2.8%;
    }

    .logo {
        text-align: center;
        margin: 0;
    }

    .presale {
        text-align: center;
        margin: 0;
    }

    .presale img {
        height: auto;
        width: 90%;
    }
}